*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.CardComponent {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  height: 300px;
  border: 2px solid #ccc;
  border-radius: 20px;
  padding: 20px;
}

.App-logo {
  width: 180px; 
  pointer-events: none;
}

.Cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 20px;
}